@{
    ViewBag.Title = "Index";
}

<link href="~/Content/LogRegButtons.css" rel="stylesheet" type="text/css" />
<link href="~/Content/images/low_contrast_linen.png" rel="stylesheet" type="text/css" />
<body>
<div style=" position: fixed;
    top: 38%;
    left: 40%;">
<ul>
  <li><a href="@Url.Action("SignOut", "User")" class="round green">Login<span class="round">That is, if you already have an account.</span></a></li>
  <li><a href="@Url.Action("Register", "User")" class="round red">Sign Up<span class="round">But only if you really, really want to. </span></a></li>
</ul> 
</div>

</body>